In [1]:
import pandas as pd

In [3]:
df_mv = pd.read_csv('../../labs/datasets/movies.csv')
df_mv.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [5]:
s='asddklglsd'
s[-5:-1]

'lgls'

In [18]:
df_mv[df_mv['title'].apply(lambda x: x.split()[-1][1:5].isnumeric())==False]['title']

6059                                            Babylon 5
9031                                     Ready Player One
9091                                           Hyena Road
9138    The Adventures of Sherlock Holmes and Doctor W...
9179                                    Nocturnal Animals
9259                                             Paterson
9367                                            Moonlight
9448                                               The OA
9514                                               Cosmos
9515                              Maria Bamford: Old Baby
9525                                    Generation Iron 2
9611                                         Black Mirror
Name: title, dtype: object

In [15]:
df_mv.shape

(9742, 3)